################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CharityConnect/v16/Server/sqlite3/storage.ide-wal
/.vs/CharityConnect/v16/Server/sqlite3/storage.ide-shm
/.vs/CharityConnect/v16/Server/sqlite3/storage.ide
/.vs/CharityConnect/v16/Server/sqlite3/db.lock
/.vs/CharityConnect/v16/Server/sqlite3
/.vs/CharityConnect/v16/.suo
/.vs/CharityConnect/v16
/.vs/CharityConnect/DesignTimeBuild/.dtbcache
/.vs/CharityConnect/DesignTimeBuild
/.vs/CharityConnect/config/applicationhost.config
/.vs/CharityConnect/config
